
body
{
    font-family: 'arial',sans-serif;
    color: dimgray;
    background-color: #EEEEEE;
}

div.h1
{
    color: black;
}

h2
{
}

item
{
}

div.crop
{
    width: 200px;
    height: 500px;
    overflow: hidden;
}

div.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}
