
body
{
    font-family: 'arial',sans-serif;
    color: dimgray;
    background-color: #EEEEEE;
}

item
{
    border: 5px solid black;
}

crop
{
    width: 200px;
    height: 150px;
    overflow: hidden;
}
