body
{
    font-family: 'arial',sans-serif;
    color: dimgray;
    background-color: #bababa;
}

.sidebar
{
	width: 20%;
    margin: 1%;
    background-color: #cef0f2;
    float: left;
}

.main
{
	width: 76%;
    margin: 1%;
    background-color: #cef0f2;
    float: right;
}

.h1
{
    color: black;
    font-weight: bold;
    padding: 5px;
}

.h2
{

}

.item
{
}

div.crop
{
    width: 200px;
    height: 500px;
    overflow: hidden;
}
